<div class="title">
    <h1>Steuerung</h1>
</div>
<div class="control-container">
    <lib-device-manager [deviceManagerItems$]="deviceManagerItems$" [overviewImageLink]="'../assets/images/garden-manager.png'"
        [commandChange]="commandChange" [isReadOnly]="(commandExecute$ | async)!"></lib-device-manager>
</div>