.control-container {
    display: flex;
    flex-direction: row;
    margin: 20px 20px 20px 20px;

    .overview-container {
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
}

.title {
    margin-left: 20px;
    margin-top: 20px;
}