<div style="height: 80vh;">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
                <mat-icon>menu</mat-icon>
            </button>
            <span>gardenmanager.brandadrian.ch</span>
            <span class="menu-spacer"></span>
            <div fxShow="true" fxHide.lt-md>
                <!-- The following menu items will be hidden on both SM and XS screen sizes -->
                <a mat-button routerLink="/devices"> Steuerung</a>
                <a mat-button routerLink="/analysis"> Auswertungen</a>
                <a mat-button routerLink="/"> Todos</a>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container fxFlexFill>
        <mat-sidenav #sidenav>
            <mat-nav-list>
                <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
                <a href="#" mat-list-item routerLink="/devices"> Steuerung</a>
                <a href="#" mat-list-item routerLink="/analysis"> Auswertungen</a>
                <a href="#" mat-list-item routerLink="/"> Todos</a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content fxFlexFill class="router-outlet-content">
            <router-outlet></router-outlet>
            <div class="footer">
                <p><small>Version {{currentApplicationVersion}}</small></p>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>